@import 'prism/themes/prism-okaidia.css'
@import 'bootstrap-stylus/bootstrap/variables'
@import 'bootstrap-stylus/bootstrap/mixins'
@import 'bootstrap-stylus/bootstrap/utilities'
@import 'bootstrap-stylus/bootstrap/grid'

/* ==== Variables ====  */
$primary = #5677FC

/* ==== Animation ====  */
@keyframes tinyScale {
  to {
    transform: scale(1.07, 1.07) translate3d(-28px, -28px, 0)
  }
}

/* ==== Slide style ====  */

// Base
*
  box-sizing: border-box

// State
.is-invisible
  opacity: 0

// Row
.row
  height: 100%

// List
ul
  li:before
    display: none

// Code
pre
  padding: 2em !important
  &.small
    font-size: .7em
    padding: 1em !important
  &.xsmall
    font-size: .5em
    padding: .8em !important
  &.mini
    font-size: .4em
    padding: .6em !important

pre, code
  margin: 0 !important
  max-width: 940px
  font-family: Andale Mono, Monaco !important
  -webkit-font-smoothing: antialiased;

// Button
.btn
  display: inline-block
  line-height: 20px
  padding: 10px 24px
  border: 1px solid
  border-color: currentColor
  border-radius: 20px
  font-family: 'Helvetica Neue'
  font-size: 18px
  -webkit-font-smoothing: antialiased;
  transition: all 218ms
  &:hover
    background-color: alpha(#FFFFFF, .1)

// Typo
h1,
h2
  letter-spacing: .2em;

h1 a,
.no-border
  border: none

h1.name
  font-size: 1.3em
  margin: 0

.futura
  font-family: futura

.helvetica
  font-family: helvetica

h3 + h3
  margin-top: 0

p
  line-height: 1.4
  -webkit-font-smoothing: antialiased;
  @extend .helvetica

a
  font-weight: 200

sup
  font-size: 0.3em
  position: relative
  top: -1.5em

blockquote
  max-width: 75%

small
  font-size: 50%

// Avatar
.avatar
  display: block
  margin: 0 auto
  width: 120px
  height: 120px
  border-radius: 120px
  &--small
    width: 70px
    height: 70px

// Bullet
.bullet.expand
  transition: all 2s ease
  opacity: 0
  overflow-x: hidden
  overflow-y: visible
  max-width: 0
  display: inline-block
  white-space: nowrap
  text-align: center
  line-height: 1.1em
  position: relative
  top: .2em
  &.bespoke-bullet-active
    opacity: 1
    max-width: 500px

// Slide
.bespoke-parent
  font-family: didot, times new roman, serif
  background-color: #222222
  color: #EEEEEE
.bespoke-slide
  z-index: 1
  padding: 0 40px

  // Full black banner
  &.black-banner
    padding: 0
    h2
      width: 100%
      padding: 15px 60px
      line-height: 1.4
      background-color: alpha(#000000, 0.3)

  //
  &.code-compare
    padding: 0
    .row
      width: 100%
      [class*=col-]
        padding: 0 40px
      [class*=col-] + [class*=col-]
        height: 100%
        border-left: 1px solid #333333

  // Colors Combine with backdrop
  &.gray,
  &.white,
  &.yellow,
  &.green,
  &.black-text
    color: alpha(#000000, .8)
    h1
      border-color: currentColor

  // Instances
  &.cover
    color: #FFFFFF
    pre
      font-size: .6em
      overflow: hidden
      code
        text-shadow: none !important
        line-height: 1.9;

  &.learn-pres
    .three-logos
     margin-top: 40px
     width: 100%
     height: 200px
    .col-xs-4
      height: 110px
      line-height: 110px;
    img
      width: 120px
      vertical-align: middle
      margin: 0 auto

  &.thanks
    .thanks-content
      letter-spacing: 0.3em
      font-size: 3em

/* ==== Backdrop ==== */

.backdrop
  &.bespoke-backdrop-active
    opacity: 1

  // Pure color backdrop
  &--red
    background-color: #E51C23
  &--green
    background-color: #00F3A5
  &--blue
    background-color: #5677FC
  &--brown
    background-color: #795548
  &--yellow
    background-color: #FFEB3B
  &--purple
    background-color: #9C27B0
  &--orange
    background-color: #FF9800
  &--pink
    background-color: #E91E63
  &--cyan
    background-color: #00BCD4
  &--teal
    background-color: #009688
  &--gray
    background-color: #EEEEEE
  &--white
    background-color: #FFFFFF

  // Instances
  &--cover
    background-image: url('../images/meeting-room.jpg')
    animation: tinyScale 20s linear infinite alternate both;
    &:before
      content: ' '
      display: block
      width: 100%
      height: 100%
      background-color: $primary
      opacity: 0.9

  &--three-code-compare
    background-image: url('../images/code-compare-bg.jpg')

  &--smacss-intro
    background-image: url('../images/smacss-bg.jpg')
    background-size: cover
    transition-duration: 2s

  &--bootstrap
    background-color: #664C8F;

  &--oocss
    filter: grayscale(100%)
    background-position: 50% 10%
    background-image: url('../images/oocss-bg.jpg')
    &.bespoke-backdrop-active
      opacity: .4

  &--under-ocean
    background-image: url('../images/under-ocean.jpg')
    &.bespoke-backdrop-active
      opacity: 0.6
    &.bespoke-backdrop-before
      transition-delay: 2s
